h1, h2, h3, h4, h5 {
  font-family: 'Quicksand', sans-serif;
}

.page-header {
  background: #343a40;
  color: #ffffff;
  margin-bottom: 2rem;
}

.page-header a {
  color: inherit;
  text-decoration: inherit;
}

/* nav
 ****************************************/
.nav {
  margin-top: 1rem;
}

.nav ul li {
  list-style-type: none;
  margin: 0;
}

.nav-header {
  margin-bottom: 0;
}

@media (max-width: 999px) {
  .nav {
    text-align: center;
  }
  .nav ul li {
    display: inline;
  }
  .nav ul li:first-child::before {
    content: "";
  }
  .nav ul li::before {
    content: "|";
  }
}

/* articles
 ****************************************/
article {
  margin-bottom: 3rem;
}

.post-title {
  color: inherit;
  text-decoration: inherit;
}

/* footer
 ****************************************/
.pagination-older {
  text-align: right;
}

.page-footer {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-size: smaller;
}


