article {
  margin-bottom: 3em;
}

.page-header {
  background: #343a40;
  color: #ffffff;
  margin-bottom: 1em;
}

.page-header a {
  color: inherit;
  text-decoration: inherit;
}

.page-footer {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-size: smaller;
}
